@charset "ISO-8859-1";

body
{
	font-family: "Courier New", Courier, monospace;
}

a:hover
{
	color: #ff0000;
}

div
{
	margin-right: 50%;
}

#teamPicture
{
	margin: 100px;
	width: 150px;
}

#TeamLogo
{
	display: block;
	//margin-left: auto;
	//margin-right: auto;
	width: 10%;
}

#BioPic
{
	width: 15%;
}

#ToHomePage
{
	width: 80px;
	height: 80px;
}